
<div id="googleMap"></div>

<div id="org-info">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Orgs Info</h4>
      </div>
      <div class="panel-body">
          <h5><strong class="text-success">{{selected.organisationName}}</strong></h5>
          <hr>
          <p>{{selected.contractName}}</p>
          <hr>
          <p><strong>{{selected.currencyAbbreviation}} {{selected.currencyId}}</strong></p>
      </div>
    </div>
  </div>
</div>